<div class="container">
  <div class="card">
    <div class="back">
      <div class="logo"><span></span></div>
      <br><br><br>
      <h4>{{imessage}}<span>design <i>&</i> photography</span></h4>
    </div>


    <div class="front">
      <div class="container" style="padding-bottom:300px; padding-top: 0%;">
        <br><br><br>
        <h4 class="ma-5">{{imessage}}<span>design <i>&</i> photography</span></h4>

      </div><br><br>
      <ul class="padding-top:400px">
        <li>AGE:{{imessages}}</li>
        <li>.{{imessagesss}}</li>
        <li>BG:{{imessagess}}</li>
      </ul>
    </div>
  </div>
</div>
<br><br><br>
<span>
  <h6 style="color:red">Move Your Mouse Over The Card To Flip It!</h6>
</span>
