<div>
  <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../assets/images/blacklady4.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block w3_banner_info_grid">
          <h2>PRISTINE CARDS</h2>
          <h5> CREATE A CUSTOM CARD IN MINUTES!</h5>
        </div>
      </div>



      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <section class="what_you">
      <div class="container">
        <div class="container">
          <div class="wthree_head_section">
            <h1 id='aboutus' class="w3l_header">About Pristine Cards</h1>
            <p>Pristine Cards Is About Looks, Carriage and Charisma!<br>
              We Are The Cards Specialist, Giving You The Best of Experiences in Card Making!</p>
          </div>

          <div class="row w3-services-grids">
            <div class="col-lg-4 w3-services-left-grid"> <img src="../assets/images/multicards2.jpg" class="img-fluid"
                alt="">
            </div>
            <div class="col-lg-8 w3-services-right-grid">
              <div class="Supp">
                <br>
                <p>Pristine Cards Place is set up to meet the needs of all card matters for every age group and
                  gender, irrespective of class and occasion.
                </p>
                <br>
                <p>We'll treat your expectations like that of royals!</p>
                <br>
                <p>Our tested-and-trusted products are made from the very finest materials, guaranteed to give you that
                  stunning experience without blemishes</p>
                <br>

              </div>
            </div>
          </div>
        </div>
      </div>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="container">

              </div>
            </div>


            <br><br><br>
          </div>
        </div>
      </section>

    </section>
    <section class="w3layouts_bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-9 w3layouts_getin_info">
            <h3>We'll Give You The Best Card Experience You Could Ever Have!</h3>
          </div>
          <div class="col-md-3 w3layouts_getin"> <a routerLink="../idform" routerLinkActive="active">Create Your ID
              Now</a>
          </div>
        </div>
      </div>
    </section>

    <br><br><br>

    <!-- the content -->
    <footer>
      <section class="footer">
        <div class="container">
          <div class="row f-bg-w3l">
            <div class="col-md-6 w3layouts_footer_grid">
              <h3>Our Links</h3>
              <ul class="links">
                <li><a routerLink="" routerLinkActive="active">Home</a>
                </li>
                <li><a routerLink="" routerLinkActive="active">About</a>
                </li>
              </ul>
            </div>
            <div class="col-md-6 w3layouts_footer_grid">
              <h2 style="cursor:pointer;">Contact Us</h2>
              <ul class="con_inner_text">
                <li>
                  <span class="fa fa-map-marker" aria-hidden="true">

                  </span>PRISTINE CARDS, LUGARD CENTRE, BEHIND EXCELLENCE HOTEL, OGBA
                  <label> ABUJA
                  </label>
                </li>
                <li>
                  <span class="fa fa-envelope" aria-hidden="true">

                  </span> <a href="www.ekisempire.com.ng">www.demo.ekisempire.com.ng</a>
                </li>
                <li>
                  <span class="fa fa-phone" aria-hidden="true">

                  </span> +234-9015301590</li>
                <li>
                <li><span class="fab fa-linkedin-in" aria-hidden="true"></span> <a
                    href="https://www.linkedin.com/in/femi-shotola-399a22135/">linkedin</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </section>
      <p class="copyright">© 2018 Merged. All Rights Reserved | Powered by <a href="https://www.ekisempire.com.ng/"
          target="_blank">PRISTINE</a></p>
    </footer>

  </div>
